@charset "utf-8";

/* 全体のレイアウト */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  color: #fff;
}

p {
  margin: 0;
  color: #fff;
}

figure {
  margin: 0;
}

/* 「ヘッダー」ブロック */
header {
  padding: 25px 15px;
  color: #fc9003;
  font-size: 2.3rem;
  text-align: center;
  font-weight: bold;
  // box-shadow: 0px 2px 5px 0px skyblue; 
  // font-family: 'Exo 2', sans-serif;
}

header .container {
  display: flex;
  justify-content:space-between;
}

// リンク
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

// ナビゲーションメニュー

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

nav li {
  margin-right: 20px;
}

// ショーケース
.showcase {
  width: 100%;
  height: 80vh;
  background: url('nepal.JPG') no-repeat center center/cover;
  // box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcase-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 18rem;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
}

// タブ
.tabs {
  background: #fff;
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d; 
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs p {
  padding-top: 0.5rem;
  font-size: 1.5rm;
}

.tabs .container div {
  padding: 1.5rem 0;
}

.tabs .container div:hover {
  opacity: 0.7;
  cursor: pointer;
}

.tab-border {
  border-bottom: #fc9003 solid 4px;
}

.text-lg, .hide-sm {
  color: black;
}

// タブコンテント
.tab-content {
  padding: 3rem 0;
  background: #fff;
}

// タブコンテント1 
// ポスト

.latestpost .h2 {
  margin: 0 auto;
}


.latestpost {
  padding: 15px;
}
.latestpost .top-wrapper {
  display: flex;
  justify-content: space-between;
}

.latestpost article {
  text-align: center;
}

// 国別

.find-by-country {
  padding: 15px;
}

.mid-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.region {
  width: 50%;
  height: 25vh;
  text-align: center;
  background: url('fuji.jpg') no-repeat center center/cover;
}

.country {
  width: 50%;
  height: 25vh;
}

.country li {
  list-style-type: none;
  padding: 5px;
}


/* Hide Content Initially */
#tab-1-content, #tab-2-content, #tab-3-content {
  display: none;
}

.show {
  display: block !important;
}



